<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miguelewv.navigationdrawing">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationDrawing">

        <!--Posibilidad de Acrescentar un tema especifico para una actividad en especifico
        todo>> la clase de java inicial es la MainActivity y la de Kotlin es MainActivity2-->
        <activity
            android:theme="@style/Theme.NavigationDrawing.NoActionbar"
            android:name=".nueva"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>